{% extends "base/base.html" %}
{% block title %} Blog {% endblock %}
{% load static %}
{% block body_block %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Blog posts</h1>

                    <br>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, alias.</p>
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-lg-3 pull-right col-xs-12">
                         <div class="form">
                              <form action="#">
                                   <div class="form-group">
                                        <label class="control-label">Blog Search</label>

                                        <div class="input-group">
                                             <input type="text" class="form-control" placeholder="Search for...">
                                             <span class="input-group-btn">
                                                  <button class="btn btn-default" type="button">Go!</button>
                                             </span>
                                        </div>
                                   </div>
                              </form>
                         </div>

                         <br>

                         <label class="control-label">Lorem ipsum dolor sit amet</label>

                         <ul class="list">
                              <li><a href="blog-post-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></li>
                              <li><a href="blog-post-details.html">Et animi voluptatem, assumenda enim, consectetur quaerat!</a></li>
                              <li><a href="blog-post-details.html">Ducimus magni eveniet sit doloremque molestiae alias mollitia vitae.</a></li>
                         </ul>
                    </div>

                    <div class="col-lg-9 col-xs-12">
                         <div class="row">
                             {% for post in blogs %}
                              <div class="col-sm-6">
                                   <div class="courses-thumb courses-thumb-secondary">
                                        <div class="courses-top">
                                             <div class="courses-image">
                                                  <img src="{% static "" %}images/product-1-720x480.jpg" class="img-responsive" alt="">
                                             </div>
                                             <div class="courses-date">
                                                  <span title="Author"><i class="fa fa-user"></i>{{ post.author }}</span>
                                                  <span title="Date"><i class="fa fa-calendar"></i>{{ post.time }}</span>
                                                  <span title="Views"><i class="fa fa-eye"></i> 0</span>
                                             </div>
                                        </div>

                                        <div class="courses-detail">
                                             <h3><a href="{% url "blogapp:blogpost" post.title|slugify post.pk %}">{{ post.content|truncatewords:10 }}</a></h3>
                                        </div>

                                        <div class="courses-info">
                                             <a href="{% url "blogapp:blogpost" post.title|slugify post.pk %}" class="section-btn btn btn-primary btn-block">Read More</a>
                                        </div>
                                   </div>
                              </div>

                             {% endfor %}
                         </div>
                    </div>
               </div>
          </div>
     </section>

{% endblock %}
     <!-- FOOTER -->
